html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #225765;
	margin: 0;
	font-family: Monserrat, Arial, Helvetica, sans-serif;
}

.header-desk img {
	width: 100%;
}

.header-mob img {
	width: 100%;
}

.header-desk {
	text-align: center;
	position: relative;
	font-size: x-large
}

.header-mob {
	display: none;
	text-align: center;
	position: relative;
}

.header-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.header-text-mob {
	position: absolute;
	font-size: x-small;
	top: 50%;
	left: 70%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.language {
	font-size: medium;
	position: absolute;
	z-index: 999;
	right: 0.5em;
	top: 0.5em;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

label {
	display: block;
}

input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.2em;
	width: 16vw;
	margin: 1px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	outline: none;
	width: 100%;
	color: white;
	background-color: #225765;
	border-width: 0px;
	border-style: none;
	border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
	border-image: initial;
	font-family: inherit;
	font-size: inherit;
	padding: 0.2em;
	margin: 1px;
}

.frappe-chart {
	width: 100%;
}

main {
	text-align: center;
	max-width: 1240px;
	margin: 0 auto;
}

h1 {
	text-transform: uppercase;
	font-size: 4em;
	font-weight: 100;
}

.horizontal {
	margin: 0.5rem;
	display: grid;
	grid-template-areas: 'map sideblock';
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px 15px;
}

.infoblock {
	color: #225765;
	margin-left: 0px;
}

.map {
	grid-area: map;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.sideblock {
	grid-area: sideblock;
}

@media (max-width: 1150px) {
	.header-mob {
		display: block;
	}
	.header-desk {
		display: none;
	}
	.horizontal {
		grid-template-areas: 'map' 'sideblock';
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.language {
		font-size: medium;
		right: 0.5em;
		top: 0.5em;
	}
	.horizontal {
		display: block;
	}
	.map {
		height: 70vh !important;
		margin-bottom: 15px;
	}
	.custom-scale {
		margin-bottom: 98px;
	}
}

div.scrollmenu {
	margin: auto;
}

div.scrollmenu a {
	color: white;
	background-color: #225765;
	text-align: center;
	padding: 8px;
	margin: 15px;
	text-decoration: none;
}

/* div.scrollmenu a:hover {
	color: green
} */

.leaflet-marker-icon {
	/* background-image: url("../assets/marker.svg"); */
	background-size: 8px;
	text-align: center;
	line-height: 30px;
	color: black;
}

/* div.scrollmenu {
	background-color: #1e1e1e;
	overflow: auto;
	white-space: nowrap;
} */

.custom-scale {
	bottom: 1vh;
	position: absolute;
}

.scale-details {
	height: 20pt;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 2pt 4pt;
	background-color: #fff;
	-webkit-border-radius: 4pt;
	border-radius: 4pt;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .65);
	box-shadow: 0 1px 5px rgba(0, 0, 0, .65);
	-webkit-transition: -webkit-box-shadow .1s ease-out;
	-o-transition: box-shadow .1s ease-out;
	transition: box-shadow .1s ease-out;
	transition: box-shadow .1s ease-out, -webkit-box-shadow .1s ease-out;
	margin-bottom: 10px;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-size: 10px
}

.scale-details:only-child {
	margin-bottom: 0
}

.scale-details>div:first-child {
	width: 80px;
	white-space: nowrap;
	font-size: 10px
}

.scale-dividers, .scale-gradient {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex
}

.scale-gradient {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}

.scale-dividers {
	width: 100%;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.horizontal-gradient-line {
	-webkit-border-radius: 4pt;
	border-radius: 4pt;
	height: 4pt;
	opacity: .9;
	width: 260px;
	border-left: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2
}

.horizontal-gradient-values>div {
	display: inline-block;
	height: 8pt;
	line-height: 8pt;
	text-align: center
}

.gradient-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}

leaflet-control-color-scale {
	font-family: Source Sans Pro, sans-serif;
	font-size: 10px;
	background: #fff;
	color: #777;
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .5);
	border-radius: 5px;
	padding: 0;
	height: 26px
}

.leaflet-control-color-scale-line {
	margin: 15px 5px 5px;
	position: inherit;
	height: 5px;
	border-top: 1px solid #777;
	border-bottom: 1px solid #777
}

.scale-value {
	position: absolute;
	display: inline;
	bottom: 0;
	height: 16px;
	vertical-align: top
}

.scale-value span {
	line-height: 100%;
	vertical-align: top
}

.scale-value:not(:last-of-type) {
	border-left: 1px solid #777
}

.scale-value:last-of-type {
	border-right: 1px solid #777
}

.scale-min-value {
	left: 0
}

.scale-max-value {
	right: 0
}

.leaflet-bottom, .leaflet-top {
	position: absolute;
	z-index: 1000;
	pointer-events: none
}

.leaflet-top {
	top: 0
}

.leaflet-right {
	right: 0
}

.leaflet-bottom {
	bottom: 0;
}

.leaflet-left {
	left: 15px
}

.leaflet-control {
	float: left;
	clear: both
}

.leaflet-right .leaflet-control {
	float: right
}

.leaflet-top .leaflet-control {
	margin-top: 10px
}

.leaflet-bottom .leaflet-control {
	margin-bottom: 25px
}

.leaflet-left .leaflet-control {
	margin-left: 10px
}

.leaflet-right .leaflet-control {
	margin-right: 10px
}

.leaflet-fade-anim .leaflet-popup, .leaflet-fade-anim .leaflet-tile {
	opacity: 0;
	transition: opacity .2s linear
}

.leaflet-fade-anim .leaflet-map-pane .leaflet-popup, .leaflet-fade-anim .leaflet-tile-loaded {
	opacity: 1
}

.leaflet-zoom-anim .leaflet-zoom-animated {
	transition: transform .25s cubic-bezier(0, 0, .25, 1)
}

.leaflet-pan-anim .leaflet-tile, .leaflet-touching .leaflet-zoom-animated, .leaflet-zoom-anim .leaflet-tile {
	transition: none
}

.leaflet-zoom-anim .leaflet-zoom-hide {
	visibility: hidden
}

.leaflet-clickable {
	cursor: pointer
}

.leaflet-container {
	cursor: -moz-grab
}

.leaflet-control, .leaflet-popup-pane {
	cursor: auto
}

.leaflet-dragging .leaflet-clickable, .leaflet-dragging .leaflet-container {
	cursor: move;
	cursor: -moz-grabbing
}

.leaflet-container {
	background: #ddd;
	outline: 0
}

.leaflet-container a {
	color: #0078a8
}

.leaflet-container a.leaflet-active {
	outline: 2px solid orange
}

.leaflet-zoom-box {
	border: 2px dotted #38f;
	background: hsla(0, 0%, 100%, .5)
}

.leaflet-container {
	font: 12px/1.5 Helvetica Neue, Arial, Helvetica, sans-serif
}

.leaflet-bar {
	box-shadow: 0 1px 5px rgba(0, 0, 0, .65);
	border-radius: 4px
}

.leaflet-bar a, .leaflet-bar a:hover {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #000
}

.leaflet-bar a, .leaflet-control-layers-toggle {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block
}

.leaflet-bar a:hover {
	background-color: #f4f4f4
}

.leaflet-bar a:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px
}

.leaflet-bar a:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: none
}

.leaflet-bar a.leaflet-disabled {
	cursor: default;
	background-color: #f4f4f4;
	color: #bbb
}

.leaflet-touch .leaflet-bar a {
	width: 30px;
	height: 30px;
	line-height: 30px
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
	font: 700 18px Lucida Console, Monaco, monospace;
	text-indent: 1px
}

.leaflet-control-zoom-out {
	font-size: 20px
}

.leaflet-touch .leaflet-control-zoom-in {
	font-size: 22px
}

.leaflet-touch .leaflet-control-zoom-out {
	font-size: 24px
}

.leaflet-control-layers {
	box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
	background: #fff;
	border-radius: 5px
}

.leaflet-control-layers-toggle {
	background-image: url(/themes/openweathermap/assets/img/layers.png);
	width: 36px;
	height: 36px
}

.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url(/themes/openweathermap/assets/img/layers-2x.png);
	background-size: 26px 26px
}

.leaflet-touch .leaflet-control-layers-toggle {
	width: 44px;
	height: 44px
}

.leaflet-control-layers-expanded .leaflet-control-layers-toggle, .leaflet-control-layers .leaflet-control-layers-list {
	display: none
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
	display: block;
	position: relative
}

.leaflet-control-layers-expanded {
	padding: 6px 10px 6px 6px;
	color: #333;
	background: #fff
}

.leaflet-control {
	float: left;
	clear: both
}

.leaflet-right .leaflet-control {
	float: right
}

.leaflet-top .leaflet-control {
	margin-top: 10px
}

.leaflet-left .leaflet-control {
	margin-left: 10px
}

.leaflet-right .leaflet-control {
	margin-right: 10px
}

.leaflet-fade-anim .leaflet-popup, .leaflet-fade-anim .leaflet-tile {
	opacity: 0;
	transition: opacity .2s linear
}