<script>
  import { onMount } from "svelte";

  export let parameter;
  export let site_id;
  let par_id;

  const calculate_parameter = parameter => {
    switch (parameter) {
      case "temperature":
        return "Temperature";
      case "pressure":
        return "Pressure";
      case "humidity":
        return "Humidity";
      case "wind_speed":
        return "Wind speed";
      case "cloudiness":
        return "Cloudiness";
    }
  };

  $: parameter_name = calculate_parameter(parameter);

  //   console.log(parameter_name);

  onMount(() => {
  });
</script>

<style>

</style>

<p>{parameter_name} by month:</p>
<p>id is {site_id}</p>

