<script>
  import { Route, active } from "tinro";
  // import History from "./components/History.svelte";
  //   import TestMap from "./components/TestMap.svelte";
  import Temperature from "./components/Temperature.svelte";
  // import Caiag from "./components/Caiag.svelte";
  // import Widgets from "./components/Widgets.svelte";
  // import Heatmap from "./components/Heatmap.svelte";
  // import CurrentDustAzure from "./components/CurrentDustAzure.svelte";
  // import Settings from "./components/Settings.svelte";
</script>

<style>

</style>

<!-- <main>
  <div class="scrollmenu">
    <a href="/" use:active exact>Map</a>
  </div>
</main> -->

<Route path="/:paramslang" let:params>
  <Temperature paramslang={params.paramslang}/>
</Route>